<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} | Dan Fitz</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{>header}}
  
  <main>
    <p>This site was created by {{name}}. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/images/robot.png" alt="Robot">
  </main>

  {{>footer}}
</body>
</html>