.Burger {
  width: 100%;
  margin: auto;
  height: 12.5rem;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 17.5rem;
    height: 15rem;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 22.5rem;
    height: 20rem;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 35rem;
    height: 30rem;
  }
}